<!DOCTYPE html>
<html lang="en" data-ng-app="devTools">
<head>
    <meta charset="UTF-8">
    <title>Tests</title>
    <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../../vendors/superhero/index.css"/>
</head>
<body>
    <div data-ng-controller="PtBrDocumentsController"></div>
    <script src="../../vendors/jquery/dist/jquery.min.js"></script>
    <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../vendors/angularjs/angular.min.js"></script>
    <script src="../../scripts/controllers/root/app.js"></script>
    <script src="../../scripts/controllers/ptBr/documents/util.js"></script>
    <script src="../../scripts/controllers/ptBr/documents/cpf.js"></script>
    <script src="../../scripts/controllers/ptBr/documents/cnpj.js"></script>
    <script src="../../scripts/controllers/tests/ptBr.documents.js"></script>
</body>
</html>
