<h1 class="page-header">Documents - Brazil - CPF</h1>

<div class="row ">
    <div class="col-md-1">
        <input type="radio" data-ng-model="type" ng-value="false" name="type" checked="checked" /> Single
    </div>
    <div class="col-md-1">
        <input type="radio" data-ng-model="type" ng-value="true" name="type" /> List
    </div>
    <div class="col-md-2">
        <input type="checkbox" data-ng-model="withMask" checked="checked" name="type" /> With Mask
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <button data-ng-click="Generate();">
            Generate
        </button>
    </div>
</div>
<div class="row" data-ng-hide="type">
    <div class="col-md-12">
        <input type="text" data-ng-model="single"/>
    </div>
</div>
<div class="row" data-ng-show="type">
    <div class="col-md-12">
        <input type="number" data-ng-model="quantity"><br><br>
        <textarea rows="15" data-ng-model="list" data-ng-show="type"></textarea>
    </div>
</div>
